@import "./base/base";
@import "./pages/home.scss";
@import "./components/header";
@import "./components/footer";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}
